*~
\#*
*.o
*.mod
*.i
_*
gitversion.h
.DS_Store
ELMO
*.i90
easy_chem_public/*

.ipynb_checkpoints/Untitled-checkpoint.ipynb
.ipynb_checkpoints/Velocities-checkpoint.ipynb
AandMCloud.f
ARCiS.dSYM/Contents/Resources/Relocations/x86_64/ARCiS.yml
build/lib/ARCiS.py
build/lib/pyARCiS.cpython-39-darwin.so
build/lib/pyARCiS.py
build/scripts-3.9/ARCiS.py
Example/cornerplot_output.pdf
output/log.dat
plotscripts/.ipynb_checkpoints/makecornerplot-checkpoint.ipynb
plotscripts/.ipynb_checkpoints/plotPT-checkpoint.ipynb
plotscripts/.ipynb_checkpoints/plotspec-checkpoint.ipynb
plotscripts/cornerplot.pdf
plotscripts/PT.pdf
plotscripts/Spec.pdf
pyARCiS.cpython-39-darwin.so
python/output/convection.dat
python/output/COprofile.dat
python/output/density.dat
python/output/densityprofile.dat
python/output/input.dat
python/output/Kzz.dat
python/output/ListParameters
python/output/log.dat
python/output/mixingratios.dat
python/output/opticaldepth.dat
python/output/surfemis.dat
Untitled.ipynb
warnings
pyARCiS.*
*/.ipynb_checkpoints/*
python/.ipynb_checkpoints
dist
